body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8eeee;
}
h1{
    font-family: 'Cabin', sans-serif;
    font-size: 3rem;
    
}
h2{
    font-family: 'Caveat', cursive;
    
    font-style: italic;
    font-size: 2rem;
}
p{
    font-family: 'Dawning of a New Day', cursive;
    font-size: 1.5rem;
}
.heading-box{
    width: 100%;
    background-color: #f78259;
    padding: 5% 0 2%;  
    text-align: center;
    /*border-bottom: 2em solid #eb4559;*/
} 
.earth-image-outer{
    width: 100%;
}
.earth-image{

    -webkit-animation: earth-anim 4s linear;
    animation-fill-mode: both;
}

@-webkit-keyframes earth-anim{
    0%{
        transform: rotate(0deg) scale(.5);
        
    }
    100%{

        transform: rotate(360deg) scale(1);
        
    }
}

/* Card */
.outer-polaroid{
    padding: 5% 1% 0;
    display: inline-block;
    background-color: whitesmoke;
    margin: 5% ;
}
.outer-polaroid:hover{
    transform: scale(1.05);
  
}

.inner-polaroid{
    text-align: center;
}
.polaroid-text{
    margin-top: 10%;
    line-height: 0.5em;
}
.column-polaroid{
   justify-content: center;
   text-align: center;
   background-color: #aeefec;
}

/*Header*/
.nav-brand{
    font-family: 'Dawning of a New Day', cursive;
    font-size: 1.2rem;
    color: black;
}
#section-1{
    background-color: #f78259;
}


/*Footer*/
.footer{
    padding-top: 1%;
    text-align: center;
    background-color: #ea5455;
}